.topbar{
    height: 15vh;
}

.sidebar{
    width: 15%;
    height: 85vh;
    background-color: purple;
    float: left;
}

.content{
    background-color: aquamarine;
    height:85vh;
    float: right;
    width: 85%;
}